{% extends 'csm/base.html' %}
{% load static %}
{% block login %}
    <div class=" login">
        <div id="container" style="border: 0px solid white; border-radius: 0px;">
            <div id="header" style="background-color: white;">
                <div id="branding">
                    <h1 id="site-name"><a href="#" style="color: black">Вход в Панель Администратора</a></h1>
                </div>
            </div>
            <div id="content" class="colM"
                 style="border: 1px solid #898989; border-radius: 5px; background-color: #eaeaea">
                <div id="content-main">
                    <form action="{% url 'index_admin_login' %}" method="post" id="login-form">
                        {% csrf_token %}
                        <div class="form-row">
                            <label class="required" for="id_username">E-mail</label>
                            <input type="text" name="username" autofocus="" required="" id="id_username"
                                   placeholder="Введите логин">
                        </div>
                        <div class="form-row">
                            <label class="required" for="id_password">Введите пароль</label>
                            <input type="password" name="password" required="" id="id_password"
                                   placeholder="Введите пароль">
                            <input type="hidden" name="next" value="/admin-base/">
                        </div>
                        <div class="submit-row">
                            <label>&nbsp;</label><input style="background-color: #1c2f5f" type="submit" value="Войти">
                        </div>
                    </form>
                </div>
                <br class="clear">
                <br class="clear">
                {% if error %}
                    <p align="center" style="color: red">
                        <small>Данный пользователь не найден</small>
                    </p>{% endif %}
            </div>
            <!-- END Content -->

            <div id="footer"></div>
        </div>
    </div>
{% endblock %}
