{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inter.Pro - admin</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}">


    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {#	<link rel="stylesheet" href="{% static 'css/home_p.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/icofont/icofont.min.css' %}">


    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    {% block extra_style %}{% endblock %}
    {% block extra_sctipt %}{% endblock %}
</head>
<body>

{% block login %}
{% endblock %}

{% if user.is_authenticated %}

    {#{% else %}#}
    <div style="background-color: #f9f9f9; width: 100%; height: 100%; box-sizing: content-box">
        <nav class="nav nav-pills nav-justified" style="background-color: rgba(154,154,154,0.87)">
            <a class="nav-item nav-link" href="{% url 'index' %}" style="color: black"><img src="{% static 'images/figma/label.png' %}"></a>
            <a class="nav-item nav-link" href="{% url 'index_admin' %}" style="color: black">Оформление сайта</a>
            <a class="nav-item nav-link" href="#" style="color: black">Настройки</a>
            <a class="nav-item nav-link" href="{% url 'index_admin_logout' %}" style="color: black">Выход</a>
        </nav>
        <div style="width: 100%; height: 100%; transform: scale(0.8)">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endif %}

</body>
</html>