{% extends 'csm/base.html' %}
{% load static %}


{% block content %}
    <div style="width: 100%; height: 100%">
        <h1 style="color: black">Оформление плитки Проекты</h1>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-12">
            {% if messages %}
                <div class="simplepagecontent">
                    <div class="form-group feedback">
                        {% for message in messages %}
                            <strong style="color: green">{{ message }}</strong>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <form action="{% url 'admin_tile_edit' tile.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label style="width: 100%; display:block;">
                    Заголовок плитки (отображается при наведение на нее во всплывающем)
                    <input type="text" name="title" id="tile_title" placeholder="Заголовок плитки"
                           style="width: 50%; display:block;" value="{{ tile.title }}">
                    <span>
                        {{ form.errors.title }}
                    </span>
                </label>
                <br>
                <label style="width: 50%; display:block;">
                    Главное изобржажение плитки
                    <input type="file" name="main_image" id="tile_main_image"
                           style="width: 100%; display:block; border-radius: 5px; border: 1px solid #a1a1a1;">
                    <span>
                        {{ form.errors.main_image }}
                    </span>
                </label>
                <br>
                <label style="width: 100%; display:block;">
                    Описание плитки (до 130 символов)
                    <textarea type="text" name="description" id="tile_description"
                              style="width: 50%; display:block; border-radius: 5px; border: 1px solid #a1a1a1; height: 120px">{{ tile.description }}</textarea>
                    <span>
                        {{ form.errors.description }}
                    </span>
                </label>
                <label style="width: 100%;">
                    <input type="checkbox" name="description" id="tile_description"
                           {% if tile.is_availabled %}checked{% endif %}>
                    Активна ли плитка
                </label>
                <br>
                <div class="submit-row">
                    <label>&nbsp;
                        <input style="background-color: #1c2f5f" type="submit" value="Сохранить">
                    </label>
                </div>
            </form>
        </div>
    </div>




    <br>
    <div style="width: 100%; height: 100%">
        <h3 style="color: black">Проекты</h3>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            {% if messages %}
                <div class="simplepagecontent">
                    <div class="form-group feedback">
                        {% for message in messages %}
                            <strong style="color: green">{{ message }}</strong>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}


            <div class="dropdown" style="width: 100%;">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Right-aligned menu
  </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form action="{% url 'admin_tile_edit' tile.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label style="width: 100%; display:block;">
                            Заголовок плитки (отображается при наведение на нее во всплывающем)
                            <input type="text" name="title" id="tile_title" placeholder="Заголовок плитки"
                                   style="width: 50%; display:block;" value="{{ tile.title }}">
                            <span>
                        {{ form.errors.title }}
                    </span>
                        </label>
                        <br>
                        <label style="width: 50%; display:block;">
                            Главное изобржажение плитки
                            <input type="file" name="main_image" id="tile_main_image"
                                   style="width: 100%; display:block; border-radius: 5px; border: 1px solid #a1a1a1;">
                            <span>
                        {{ form.errors.main_image }}
                    </span>
                        </label>
                        <br>
                        <label style="width: 100%; display:block;">
                            Описание плитки (до 130 символов)
                            <textarea type="text" name="description" id="tile_description"
                                      style="width: 50%; display:block; border-radius: 5px; border: 1px solid #a1a1a1; height: 120px">{{ tile.description }}</textarea>
                            <span>
                        {{ form.errors.description }}
                    </span>
                        </label>
                        <label style="width: 100%;">
                            <input type="checkbox" name="description" id="tile_description"
                                   {% if tile.is_availabled %}checked{% endif %}>
                            Активна ли плитка
                        </label>
                        <br>
                        <div class="submit-row">
                            <label>&nbsp;
                                <input style="background-color: #1c2f5f" type="submit" value="Сохранить">
                            </label>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>

    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>

{% endblock %}