<div class="modal fade" id="requisites_modal" tabindex="-1" role="dialog" aria-labelledby="requisites_modal_label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 300%; margin-left: -100%; height: 97vh; overflow: scroll; transform: scale(0.9); background-color: #d9d9d9">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div clas="row">
            <div class="col-lg-12">
                <div>
                    <p align="center"><span style="font-size: 35px">Реквизиты</span></p>
                </div>
            </div>

            <div class="col-lg-12">
                <div>
                    <p align="center"><span class="all_txt" style="font-size: 17px">Таким образом дальнейшее развитие</span></p><p align="center" style="margin-top:-1% " ><span class="all_txt" style="font-size: 17px">различных форм деятельности</span></p>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="cart_comp" style="background-color: white;width: 100%; height:100px; border-radius: 4px;">
                            &nbsp;&nbsp;<span style="border-radius: 12px;background: #F2F2F2;">Компания</span><br>
                            &nbsp;&nbsp;<span style="font-weight: bold; font-size: 25px">ООО "ИнтеПро"</span><br>
                            &nbsp;&nbsp;<span>ИНН 123456789</span><br>
                        </div>
                    </div>
                    <div class="col-lg-8" style="background-color: white;width: 100%; height:600px; border-radius: 4px;">
                        <span style="border-radius: 12px;background: #F2F2F2;">Компания</span><br>
                        <div class="row">
                            <div class="col-lg-6 " style="width: 100%">
                                <span style="font-weight: bold; font-size: 25px">ООО "ИнтеПро"</span><br>
                                <span style="font-weight: bold;">ИНН</span><span> 123456789</span><br>
                                <span style="font-weight: bold;">ОГРН</span><span> 123456789</span><br>
                                <span style="font-weight: bold;">Юр. адрес</span><span> 123456789</span><br>
                                <span style="font-weight: bold;">Телефон</span><span> 123456789</span><br>
                                <span style="font-weight: bold;">Email</span><span> 123456789</span><br>
                                <span style="font-weight: bold;">Ген. директор</span><span> 123456789</span><br>
                                <span style="font-weight: bold;">Действующий на основании</span><span> 123456789</span><br>
                                <span style="font-weight: bold;">Классификаторы в статическом регистре</span><span> 123456789</span><br>
                                <div class="row">
                                    <div class="col-lg-12" style="padding: -1px">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                    <span>ОКПО:</span><span>123456789</span><br>
                                                    <span>ОКОГУ:</span><span>123456789</span><br>
                                                    <span>ОКОПФ:</span><span>123456789</span>
                                            </div>
                                            <div class="col-lg-6" >
                                                <span>ОКАТО:</span><span>123456789</span><br>
                                                <span>ОКТМО:</span><span>123456789</span><br>
                                                <span>ОКТМО:</span><span>123456789</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div>
                                    <button type="button" class="btn btn-primary" style="background-color: #AA9385;height: 25%; width: 45%;font-size: 150%;">Скачать</button>
                                    <button type="button" class="btn btn-primary" style="background-color: #AA9385;height: 25%; width: 45%;font-size: 150%;">Отправить</button>
                                </div>
                                <div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
{#      <div class="modal-footer">#}
{#          возможно пригодится и футер#}
{#        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
{#      </div>#}





    </div>
  </div>
</div>