<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./Project_files/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="row">


    <div class="col-lg-12">
        <div>
            <p align="center"><span class="txt">Вход</span></p>
        </div>
    </div>

    <div class="col-lg-12">
        <div>
            <p align="center"><span class="all_txt">Таким образом дальнейшее развитие</span></p><p align="center" style="margin-top:-1% " ><span class="all_txt">различных форм деятельности</span></p>
        </div>
    </div>
    <div class="col-lg-12">
        <div >
            <form class="frm" >
            <input type="text" align="center" placeholder="Email"><br>
            <input type="password" align="center" placeholder="Пароль"><br><br>
            <button type="submit"  style="margin-left: 7%">Войти</button><br><br>
            </form>
        </div>
    </div>
    <div class="col-lg-12">
        <div>
            <p align="center"><a href="#">Забыли пароль?</a></p>
        </div>

    </div>
    <div class="col-lg-12">
        <div>
            <p align="center"><img src="images/figma/cloud.png" height="42" width="62" class="icn"></p>
        </div>
    </div>
</div>
</body>
</html>