{% extends 'base.html' %}
{% load static %}

{% block content %}


<nav class="nav_1">
    <div class="row" style="width: 100%">

        <div class="nav_icon_1">
            <div align="left" class="nav_icon_2">
                <img class="post-item" src="{% static 'images/figma/label.png' %}" style="">
            </div>
        </div>
        <div class="nav_icon_1">
            <div align="right">
                <img src="{% static 'images/figma/telefon.png' %}" class="post-item">
            </div>
        </div>
    </div>
</nav>

<div>
    <div class="row">

        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-6 block-bg1">
                    <div class="bg-block">

                        <!-- Content -->
                        <div class="ver-hor-center">
                            <div class="row " style="text-align: center">
                                <div class="col-lg-12 bg-cont-bl1">
                                    <div style=" display: inline-block">
                                        <img src="{% static 'images/figma/projects.png' %}" class="icon_1">
                                    </div>
                                    <div class="d-none d-md-inline-block d-sm-inline-block d-lg-block txt-all"  >
                                        Проекты
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Vector on mobile  -->
                    <div style="display: inline-block;" class="d-none d-md-block d-sm-block d-lg-none">
                         <div class="ver-hor-center" style="left: 99%;">
                             <img src="images/figma/vector.png" class="vec_1">
                         </div>
                    </div>
                </div>
                <div class="col-lg-6 block-bg2">
                    <div class="bg-block" style="display: inline-block;">

                        <!-- Content -->
                         <div class="ver-hor-center">
                            <div class="row " style="text-align: center">
                                <div class="col-lg-12 bg-cont-bl2" >
                                    <div style=" display: inline-block">
                                        <img src="{% static 'images/figma/cloud.png' %}" class="icon_1">
                                    </div>
                                    <div class="d-none d-md-inline-block d-sm-inline-block d-lg-block txt-all" >
                                        Облачное хранилище
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Vector on mobile  -->
                    <div style="display: inline-block;" class="d-none d-md-block d-sm-block d-lg-none">
                         <div class="ver-hor-center" style="left: 99%;">
                             <img src="images/figma/vector.png" class="vec_1">
                         </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6 block-bg3">
                    <div class="bg-block">

                        <!-- Content -->
                         <div class="ver-hor-center">
                            <div class="row " style="text-align: center">
                                <div class="col-lg-12 bg-cont-bl3">
                                    <div style=" display: inline-block">
                                        <img src="{% static 'images/figma/mail.png' %}" class="icon_1">
                                    </div>
                                    <div class="d-none d-md-inline-block d-sm-inline-block d-lg-block txt-all" >
                                        Контакты
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Vector on mobile  -->
                    <div style="display: inline-block;" class="d-none d-md-block d-sm-block d-lg-none">
                         <div class="ver-hor-center" style="left: 99%;">
                             <img src="images/figma/vector.png" class="vec_1">
                         </div>
                    </div>
                </div>
                <div class="col-lg-6 block-bg4">
                    <div class="bg-block">

                        <!-- Content -->
                         <div class="ver-hor-center">
                            <div class="row " style="text-align: center">
                                <div class="col-lg-12 bg-cont-bl4">
                                    <div style=" display: inline-block">
                                        <img src="{% static 'images/figma/reck.png' %}" class="icon_1">
                                    </div>
                                    <div class="d-none d-md-inline-block d-sm-inline-block d-lg-block txt-all" >
                                        Реквизиты
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Vector on mobile  -->
                    <div style="display: inline-block;" class="d-none d-md-block d-sm-block d-lg-none">
                         <div class="ver-hor-center" style="left: 99%;">
                             <img src="images/figma/vector.png" class="vec_1">
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>

<footer class="text-muted">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 col-mg-12">
                <h6><span>® INTE.PRO 2019</span>&nbsp;&nbsp;&nbsp;<span>Лицензия</span>&nbsp;&nbsp;&nbsp;<span>Политика конфедициальности</span></h6>
              </div>
          </div>
      </div>
</footer>

{% endblock %}