{% extends 'base.html' %}
{% load static %}

{% block content %}

	<nav class="nav_1">
    <div class="row" style="width: 100%">

        <div class="nav_icon_1">
            <div align="left" class="nav_icon_2">
                <img class="post-item" src="{% static 'images/figma/label.png' %}" style="">
            </div>
        </div>
        <div class="nav_icon_1">
            <div align="right">
                <img src="{% static 'images/figma/telefon.png' %}" class="post-item">
            </div>
        </div>
    </div>
</nav>

<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6 block-bg1" >
                    <div class="bg-block">
                        <!-- Content -->
                        <div class="ver-hor-center">
                            <div class="row " style="text-align: center">
                                <div class="col-lg-12">
                                    <div style=" display: inline-block">
                                        <img src="{% static 'images/figma/projects.png' %}" class="icon_1">
                                    </div>
                                    <div style="color: white; font-size: 65px"  class="d-none d-md-inline-block d-sm-inline-block d-lg-block" >
                                        Проекты
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Vector on mobile  -->
                    <div style="display: inline-block;" class="d-none d-md-block d-sm-block d-lg-none">
                         <div class="ver-hor-center" style="left: 99%;">
                             <img src="{% static 'images/figma/vector.png' %}" class="vec_1">
                         </div>
                    </div>
                </div>
                <div class="col-lg-6 block-bg2">
                    <div class="bg-block" style="display: inline-block;">

                        <!-- Content -->
                         <div class="ver-hor-center">
                            <div class="row " style="text-align: center">
                                <div class="col-lg-12">
                                    <div style=" display: inline-block">
                                        <img src="{% static 'images/figma/cloud.png' %}" class="icon_1">
                                    </div>
                                    <div style="color: white;font-size: 65px" class="d-none d-md-inline-block d-sm-inline-block d-lg-block" >
                                        Облачное хранилище
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Vector on mobile  -->
                    <div style="display: inline-block;" class="d-none d-md-block d-sm-block d-lg-none">
                         <div class="ver-hor-center" style="left: 99%;">
                             <img src="{% static 'images/figma/vector.png' %}" class="vec_1">
                         </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6 block-bg3">
                    <div class="bg-block">
                        <!-- Content -->
                         <div class="ver-hor-center">
                            <div class="row " style="text-align: center">
                                <div class="col-lg-12">
                                    <div style=" display: inline-block">
                                        <img src="{% static 'images/figma/mail.png' %}" class="icon_1">
                                    </div>
                                    <div style="color: white; font-size: 65px;" class="d-none d-md-inline-block d-sm-inline-block d-lg-block" >
                                        Контакты
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Vector on mobile  -->
                    <div style="display: inline-block;" class="d-none d-md-block d-sm-block d-lg-none">
                         <div class="ver-hor-center" style="left: 99%;">
                             <img src="{% static 'images/figma/vector.png' %}" class="vec_1">
                         </div>
                    </div>
                </div>
                <div class="col-lg-6 block-bg4">
                    <div class="bg-block">

                        <!-- Content -->
                         <div class="ver-hor-center">
                            <div class="row " style="text-align: center">
                                <div class="col-lg-12">
                                    <div style=" display: inline-block">
                                        <img src="{% static 'images/figma/reck.png' %}" class="icon_1">
                                    </div>
                                    <div style="color: white; font-size: 65px" class="d-none d-md-inline-block d-sm-inline-block d-lg-block" >
                                        Реквизиты
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Vector on mobile  -->
                    <div style="display: inline-block;" class="d-none d-md-block d-sm-block d-lg-none">
                         <div class="ver-hor-center" style="left: 99%;">
                             <img src="{% static 'images/figma/vector.png' %}" class="vec_1">
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>


{% endblock %}