{% extends 'base.html' %}
{% load static %}

{% block content %}

<nav class="nav_1">
    <div class="row" style="width: 100%">

        <div class="nav_icon_1">
            <div align="left" class="nav_icon_2">
                <img class="post-item" src="{% static 'images/figma/label.png' %}" style="">
            </div>
        </div>
        <div class="nav_icon_1">
            <div align="right">
                <img src="{% static 'images/figma/telefon.png' %}" class="post-item">
            </div>
        </div>
    </div>
</nav>
































{% endblock %}